@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
}
.navbar-container{
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:20px 0;
}
.navlink-container{
    display:flex;
    gap:71.5px;
}
.navlink-container li{
    list-style: none;
}
.navlink-container li a{
    text-decoration: none;
    color: var(--black, rgba(51, 51, 51, 1));
    font-size:20px;
}
.navlink-btn{
    display:flex;  
    gap:71.5px; 
}
.navlink-btn li{
    list-style:none;    
}
.navlink-btn li a{
    text-decoration: none;
    font-size: 20px;
}
.login{
     color: var(--black, rgba(51, 51, 51, 1));
}
.sign-btn{
    padding: 10px 24px 10px 24px;
    border-radius: 50px;
    color: var(--white, rgba(255, 255, 255, 1));
    background: var(--Orange, rgba(250, 139, 2, 1));
}
main{
    width:1200px;
    margin:15px auto;
}
.popular-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.popular-icons{
    display:flex;
    gap:20px;
    align-items: center;
}
.popular-icons .icon-1{
    background-color: rgba(239, 239, 239, 1);
    border-radius: 50%;
    padding:10px;
}
.popular-icons .icon-2{
    background-color: rgba(250, 139, 2, 1);
    border-radius: 50%;
    color:white;
    padding:10px;
}
.single-popular-card{
    display:flex;
    gap:40px;
    margin:60px 0;
}
.single-card{
width:280px;
}
.single-card button{
    color:rgba(250, 139, 2, 1);
    border:2px solid white;
    margin:20px 0;
}
span{
    color:rgba(250, 139, 2, 1);
}
.icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:rgba(250, 139, 2, 1);
}
.card-icon{
    display:flex;
    gap:6px;
    align-items: center;
}

/* Single-service */
.single-service{
    display:flex;
    gap:150px;
    margin:60px 0;
}
.single-service h2{
    margin:10px 0;
    font-size: 32px;
}

/* footer */
footer{
    margin-top: 560px auto;
    padding:30px 0;
    background-color: var(--black, rgba(51, 51, 51, 1));;
}
.footer img{
   /* margin-bottom:30px; */
}
.footer-section{
    width:1200px;
    margin:50px auto;
}
.footer-content{
    display:flex;
    gap:93.7px;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    padding:30px 0;
    margin:30px 0;
}
.footer-content ul li{
    list-style: none;
    margin-top: 10px;
}
.footer-content ul li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.bold-footer{
    font-weight:bold;
    font-size: 20px;
}
.last-footer-content{
  text-align: center;
}
.last-footer-content p{
    color:white;
}
.social-content{
    text-align: center;
}
.social-icon{
    display:flex;
    gap:10px;
}
.social-icon a i{
    font-size: 30px;
    color:rgba(250, 139, 2, 1);
    /* background-color: rgba(250, 139, 2, 1); */
}
/* Book */
.book{
    display:flex;
    margin-top:120px;
    position:relative;
    text-align: center;
    background-size: cover;
    
}
.book h2{
   
}
.book-now{
    background-color: rgba(255, 255, 255, 0.3);
    margin:200px 50px;
    padding:30px;
    text-align: center;
    border-radius:10px;
}
.book-now h2{
    text-align: center;
}
form p{
    text-align: left;
    margin-top: 10px;
}
.book-now button{
   margin-top:30px;
}
.book-form{
    display:flex;
    gap:10px;
    margin-top:30px;
}
.book-form input{
    width:200px;
    border-radius:5px;
    padding:5px;
    border:2px solid #ddd;
}

.bike-image{
    position:absolute;
    right:0;
    top:330px;
}
/* Customers */
.customers{
    display:flex;
    justify-content: space-between;
}
.customers-icon{
    background-color:rgba(250, 139, 2, 1);
    border-radius:50px;
    padding:10px;
    color:white;
}
/* display profile */
.display-profile{
    display:flex;
    gap:20px;
    margin-top:60px;
}
.single-profile{
    padding:30px;
    border:1px solid var(--gray, rgba(239, 239, 239, 1));
    background: var(--white, rgba(255, 255, 255, 1));
}
.single-profile img{
    text-align: center;
}
.profile{
    text-align: center;
    margin-bottom:38px;
}
.customer-profile{
    margin:160px 0;
}