*{
    margin:0;
    padding:0;
}
.navbar-container{
    display:flex;
    justify-content:space-around;
    padding:15px 0;
    align-items:center;
    position:fixed;
    background-color:rgba(255, 255, 255, 0.2);
    width:100%;
}
.navlink-container{
    display:flex;
    gap:40px;
    list-style:none;
}
.navlink-container li a{
    text-decoration: none;
    font-size:20px;
    color:white;
}
.register-container{
    display:flex;
    gap:40px;
    color:white;
    font-size:20px;
    align-items:center;
}
#sign-btn{
    background-color: var(--Orange, rgba(250, 139, 2, 1));;
    padding:10px 24px 10px 24px;
    border-radius:50px;
}
main{
    width:1200px;
    margin:15px auto;
}