*{
    margin:0;
    padding:0;
}
.navbar-container{
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:20px 0;
}
.navlink-container{
    display:flex;
    gap:71.5px;
}
.navlink-container li{
    list-style: none;
}
.navlink-container li a{
    text-decoration: none;
    color: var(--black, rgba(51, 51, 51, 1));
    font-size:20px;
}
.navlink-btn{
    display:flex;  
    gap:71.5px; 
}
.navlink-btn li{
    list-style:none;    
}
.navlink-btn li a{
    text-decoration: none;
    font-size: 20px;
}
.login{
     color: var(--black, rgba(51, 51, 51, 1));
}
.sign-btn{
    padding: 10px 24px 10px 24px;
    border-radius: 50px;
    color: var(--white, rgba(255, 255, 255, 1));
    background: var(--Orange, rgba(250, 139, 2, 1));
}
main{
    width:1200px;
    margin:15px auto;
}