@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
.navbar-container{
    display:flex;
    justify-content:space-around;
   background: rgba(255, 255, 255, 0.2);
   position:fixed;
   align-items: center;
   width:100%;
}
.navlink-container{
    display:flex;
    gap:71.5px;
}
.navlink-container li{
    list-style: none;
}
.navbar-container li a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.nav-button{
  display:flex;
  gap:71.5px;
}
.nav-button li{
    list-style:none;
}
.nav-button li a{
    text-decoration: none;
}
#sign-btn{
   background: var(--Orange, rgba(250, 139, 2, 1));
   border-radius: 50px;
   padding: 10px 24px 10px 24px;
}

/* hero-section */
header{
    position:relative;
}
.hero-content{
    position:absolute;
    top:40%;
    left:20%;
    width:800px;
    text-align: center;
}
.hero-content h2{
    font-size:40px;
     color:white;
     font-style: italic;
     font-family: Podcast;
}
.hero-para{
   color:white;
   padding:24px 100px;
   font-size: 18px;
}
.hero-content button{
    padding:10px 20px;
    border: 1.5px solid var(--white, rgba(255, 255, 255, 1));
    border-radius: 50px;
    font-weight: 600;
    color:white;
    font-size:20px;
    background-color: inherit;
}
main{
    width:1200px;
    margin:15px auto;
}
.center{
    display:flex;
    gap:95px;
    margin:141.5px 0;
}
.center-content{
    padding:41px 0;
}
.center-content p{
    color: var(--black, rgba(51, 51, 51, 1));
    font-size:16px;
}
.center-content h2{
    font-size:33px;
}
.center-para{
    font-size:18px;
    margin:32px 0;
}
.center-experience{
    display:flex;
    gap:10px;
}
.single-center{
    width:100px;
}
.single-center h2{
   color: var(--Orange, rgba(250, 139, 2, 1));
}


/* Customers */
.customers{
    display:flex;
    justify-content: space-between;
}
.customers-icon{
    background-color:rgba(250, 139, 2, 1);
    border-radius:50px;
    padding:10px;
    color:white;
}
/* display profile */
.display-profile{
    display:flex;
    gap:20px;
    margin-top:60px;
}
.single-profile{
    padding:30px;
    color: var(--black, rgba(51, 51, 51, 1));
    border:1px solid var(--gray, rgba(239, 239, 239, 1));
    background: var(--white, rgba(255, 255, 255, 1));
}
.single-profile img{
    text-align: center;
}
.single-profile h2{
    color: var(--black, rgba(51, 51, 51, 1));
}
.profile{
    text-align: center;
    margin-bottom:38px;
}
.customer-profile{
    margin:160px 0;
}

/* Cards */
.cards{
    display:flex;
    position:absolute;
    top:10px;
    margin:50px;
    gap:20px;
}

.card-banner{
    position:relative;
}
.single-card{
    text-align: center;
    width:200px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.3);
    padding:30px;
}
.single-card p{
    padding-top: 15.5px;
}
.social-content{
    text-align: center;
}
.social-icon{
    display:flex;
    gap:10px;
}
.social-icon a i{
    font-size: 30px;
    color:rgba(250, 139, 2, 1);
    /* background-color: rgba(250, 139, 2, 1); */
}

/* footer */
footer{
    margin-top: 560px auto;
    padding:30px 0;
    background-color: var(--black, rgba(51, 51, 51, 1));;
}
.footer img{
   /* margin-bottom:30px; */
}
.footer-section{
    width:1200px;
    margin:50px auto;
}
.footer-content{
    display:flex;
    gap:93.7px;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    padding:30px 0;
    margin:30px 0;
}
.footer-content ul li{
    list-style: none;
    margin-top: 10px;
}
.footer-content ul li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.bold-footer{
    font-weight:bold;
    font-size: 20px;
}
.last-footer-content{
  text-align: center;
}
.last-footer-content p{
    color:white;
}