*{
    margin:0;
    padding:0;
}
.navbar-container{
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding:20px 0;
}
.navlink-container{
     display:flex;
     gap:71.5px;
}
.navlink-container li{
    list-style: none;
} 
.navlink-container li a{
    text-decoration: none;
    color: var(--black, rgba(51, 51, 51, 1));
    font-size: 20px;
}
.nav-button{
    display:flex;
    gap:71.5px;
}
.nav-button li{
    list-style: none;
}
.nav-button li a{
    text-decoration: none;
    font-size: 20px;    
}
#sign-btn{
    padding:10px 20px;
    color: var(--white, rgba(255, 255, 255, 1));
    border-radius: 50px;
background: var(--Orange, rgba(250, 139, 2, 1));
}
.button-font{
    color: var(--black, rgba(51, 51, 51, 1));
}
main{
    width:1200px;
    margin:15px auto;
}
/* tour-image */
.tour{
    display:grid;
    grid-template-columns:1fr 1fr ;
    gap:30px;
}
.tour-image{
   width:590px;
}
.tour-image-1{
    width:100%;
}
.sub-tour-image{
    margin:10px 0;
}
.sub-tour-image img{
    width:187px;
}
.second-image{
    margin:0 10px;
}
/* tour-content */
.tour-content{
    width:580px;
}
.tour-content p{
   margin:10px 0;
   font-size: 18px;
}
.tour-content span{
    margin:0 10px;
    color: var(--Orange, rgba(250, 139, 2, 1));
}
.tour-content input{
  padding: 14px 24px 14px 24px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 8px;
  background: var(--white, rgba(255, 255, 255, 1));
}
.tour-content button{
    margin:10px 0;
    color:rgba(255, 255, 255, 1);
    padding: 10px 80px 10px 80px;
    border-radius: 50px;
box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
background: var(--Orange, rgba(250, 139, 2, 1));
}

/* gallery */
.gallery-container{
    margin:80px 0;
}
.gallery{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap:10px;
    margin:10px 0;
}
.gallery img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.grid-middle{
    display:grid;
    grid-template-rows:1fr 1fr;
    gap:10px;
}
/* Customers */
.customers{
    display:flex;
    justify-content: space-between;
}
.customers-icon{
    background-color:rgba(250, 139, 2, 1);
    border-radius:50px;
    padding:10px;
    color:white;
}
/* display profile */
.display-profile{
    display:flex;
    gap:20px;
    margin-top:60px;
}
.single-profile{
    padding:30px;
    border:1px solid var(--gray, rgba(239, 239, 239, 1));
    background: var(--white, rgba(255, 255, 255, 1));
}
.single-profile img{
    text-align: center;
}
.profile{
    text-align: center;
    margin-bottom:38px;
}
.customer-profile{
    margin:160px 0;
}
/* footer */
footer{
    margin-top: 560px auto;
    padding:30px 0;
    background-color: var(--black, rgba(51, 51, 51, 1));;
}
.footer img{
   /* margin-bottom:30px; */
}
.footer-section{
    width:1200px;
    margin:50px auto;
}
.footer-content{
    display:flex;
    gap:93.7px;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    padding:30px 0;
    margin:30px 0;
}
.footer-content ul li{
    list-style: none;
    margin-top: 10px;
}
.footer-content ul li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.bold-footer{
    font-weight:bold;
    font-size: 20px;
}
.last-footer-content{
  text-align: center;
}
.last-footer-content p{
    color:white;
}
.social-icon{
    display:flex;
    gap:10px;
}
.social-icon a i{
    font-size: 30px;
    color:rgba(250, 139, 2, 1);
    /* background-color: rgba(250, 139, 2, 1); */
}