*{
    margin:0;
    padding:0;
}
.navbar-container{
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding:20px 0;
}
.navlink-container{
     display:flex;
     gap:71.5px;
}
.navlink-container li{
    list-style: none;
} 
.navlink-container li a{
    text-decoration: none;
    color: var(--black, rgba(51, 51, 51, 1));
    font-size: 20px;
}
.nav-button{
    display:flex;
    gap:71.5px;
}
.nav-button li{
    list-style: none;
}
.nav-button li a{
    text-decoration: none;
    font-size: 20px;    
}
#sign-btn{
    padding:10px 20px;
    color: var(--white, rgba(255, 255, 255, 1));
    border-radius: 50px;
background: var(--Orange, rgba(250, 139, 2, 1));
}
.button-font{
    color: var(--black, rgba(51, 51, 51, 1));
}
main{
    width:1200px;
    margin:15px auto;
}
/* tour-image */
.tour{
    display:flex;
    gap:30px;
}
.tour-image{
   width:590px;
}
.tour-image-1{
    width:100%;
}
.sub-tour-image{
    margin:10px 0;
}
.sub-tour-image img{
    width:187px;
}
.second-image{
    margin:0 10px;
}
/* tour-content */
.tour-content{
    width:580px;
}
.tour-content p{
   margin:10px 0;
   font-size: 18px;
}
.tour-content span{
    margin:0 10px;
    color: var(--Orange, rgba(250, 139, 2, 1));
}
.tour-content input{
  padding: 14px 24px 14px 24px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 8px;
  background: var(--white, rgba(255, 255, 255, 1));
}
.tour-content button{
    margin:10px 0;
    color:rgba(255, 255, 255, 1);
    padding: 10px 80px 10px 80px;
    border-radius: 50px;
box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
background: var(--Orange, rgba(250, 139, 2, 1));
}