
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

.navbar-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    width:100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding:15px 0;
}
.navlink-container{
    display:flex;
    gap:40px;
    list-style:none;
}
.navlink-container li a{
    text-decoration: none;
    color:white;
    font-size:20px;
}
.register-container{
    display:flex;
    gap:40px;
    color:white;
    font-size:20px;
    align-items: center;
}
#sign-btn{
    border-radius:50px;
    background-color: var(--Orange, rgba(250, 139, 2, 1));
    padding: 10px 24px 10px 24px;
}
main{
    width:1200px;
    margin:50px auto;
    /* auto will only work if width is given */
}
/* Popular Section */
.popular-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.popular-icons{
    display:flex;
    gap:20px;
    align-items: center;
}
.popular-icons .icon-1{
    background-color: rgba(239, 239, 239, 1);
    border-radius: 50%;
    padding:10px;
}
.popular-icons .icon-2{
    background-color: rgba(250, 139, 2, 1);
    border-radius: 50%;
    color:white;
    padding:10px;
}
.popular-card{
    display:flex;
    gap:40px;
    margin-top:50px;
}
.single-card{
width:280px;
}
span{
    color:rgba(250, 139, 2, 1);
}
.icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:rgba(250, 139, 2, 1);
}
.card-icon{
    display:flex;
    gap:6px;
    align-items: center;
}

/* Company */
.company{
    display:flex;
    justify-content: space-between;
    margin-top: 287px;
    position:relative;
}
.company-content{
    width:700px;
    position:absolute;
    top:100px;
    right:0;
}
.company-content h1{
    margin-top:6px;
}
.content-details{
    margin-top:32px;
}
.company-details{
    display:flex;
    justify-content:space-around;
    /* gap:50px; */
    margin-top: 32px;
}
.single-details{
    width:83px;
}
.company-details h2{
   color:rgba(250, 139, 2, 1);
   font-size: 32px;
   font-weight:bold;
}

/* organizes */
.organization{
    display:flex;
    margin-top: 287px;
    position:relative;
    width:1200px;
    /* background-image: url('../image/Organization.png'); */
}
.organization-content{
    position:absolute;
    top:110px;
    padding:120px 100px;
    left:0;
    background-image:url('../image/Organization.png')
    /* left:0; */
    /* top:300px; */
}
.or-content{
    text-align: center;
    background-color: bisque;
    padding:30px;
    width:500px;
}
.or-content p{
    margin-top: 30px;
}
.or-content button{
    margin-top: 30px;
}
.or-image{
    position:absolute;
    right:0;
}
#sign-btn{
    color:white;
    font-size:20px;
}
/* or-vehicles */
.or-vehicles{
    display:flex;
    margin-top: 1000px;
    gap:33px;

}
.single-vehicles{
    width:270px;
}
.single-vehicles h2{
    margin-top: 20px;
}
.single-vehicles p{
    margin-top:20px;
}
/* Book */
.book{
    display:flex;
    margin-top:120px;
    position:relative;
    background-size: cover;
    background-image: url('../image/Organization.png');
}
.book-now{
    background-color: rgba(255, 255, 255, 0.3);
    margin:200px 50px;
    padding:30px;
    text-align: center;
    border-radius:10px;
}
.book-now h2{
    text-align: center;
}
form p{
    text-align: left;
    margin-top: 10px;
}
.book-now button{
   margin-top:30px;
}
.book-form{
    display:flex;
    gap:10px;
    margin-top:30px;
}
.book-form input{
    width:200px;
    border-radius:5px;
    padding:5px;
    border:2px solid #ddd;
}

.bike-image{
    position:absolute;
    right:0;
    top:330px;
}

/* money card */
.Money-section{
    margin-top:164px;
}
.money-card{
    display:flex;
    gap:33px;
    padding-top: 60px;
}
.single-money-card ul{
    padding:10px;
}
.single-money-card ul i{
   color:rgba(250, 139, 2, 1);
}
.single-money-card ul li{
   list-style: none;
   padding-top: 10px;
}
.single-money-card ul li span{
    color: var(--black, rgba(51, 51, 51, 1));
    padding-left: 5px;
}
.book-btn{
    margin-top: 20px;
     width:100%;
     padding:10px 0;
     border-radius: 20px;
    text-align: center;
    border:2px solid rgba(250, 139, 2, 1);
    font-size:15px;
    color:rgba(250, 139, 2, 1);
}
/* Customers */
.customers{
    display:flex;
    justify-content: space-between;
}
.customers-icon{
    background-color:rgba(250, 139, 2, 1);
    border-radius:50px;
    padding:10px;
    color:white;
}
/* display profile */
.display-profile{
    display:flex;
    gap:20px;
    margin-top:60px;
}
.single-profile{
    padding:30px;
    border:1px solid var(--gray, rgba(239, 239, 239, 1));
    background: var(--white, rgba(255, 255, 255, 1));
}
.single-profile img{
    text-align: center;
}
.profile{
    text-align: center;
    margin-bottom:38px;
}
.customer-profile{
    margin:160px 0;
}
/* footer */
footer{
    margin-top: 560px auto;
    padding:30px 0;
    background-color: var(--black, rgba(51, 51, 51, 1));;
}
.footer img{
   /* margin-bottom:30px; */
}
.footer-section{
    width:1200px;
    margin:50px auto;
}
.footer-content{
    display:flex;
    gap:93.7px;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    padding:30px 0;
    margin:30px 0;
}
.footer-content ul li{
    list-style: none;
    margin-top: 10px;
}
.footer-content ul li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.bold-footer{
    font-weight:bold;
    font-size: 20px;
}
.last-footer-content{
  text-align: center;
}
.last-footer-content p{
    color:white;
}
.social-icon{
    display:flex;
    gap:10px;
}
.social-icon a i{
    font-size: 30px;
    color:rgba(250, 139, 2, 1);
    /* background-color: rgba(250, 139, 2, 1); */
}